#wall .tag-1 {
    background: none;
}
div#wall #tag-2 {
    background: none;
}
div#wall #tag-3.slick.wicked {
    background: none;
}
#wall .parent #tag-4 {
    background: none;
}
div#wall div.parent #tag-5.slick {
    background: none;
}
div#wall div.parent div:last-child div#tag-6 {
    background: none;
}